/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Oo]utput/
.vs/
*.sln
*.suo
*.csproj
.idea/
Assets/Plugins/Editor/JetBrains
Assets/Plugins/Editor/JetBrains.meta
Assets/StreamingAssets
Assets/StreamingAssets.meta
Assets/asset_map.asset
Assets/asset_map.asset.meta
Assets/bundle_map.asset
Assets/bundle_map.asset.meta
Assets/atlas_bundle_map.asset
Assets/atlas_bundle_map.asset.meta
